@charset "UTF-8";
* {
    margem: 0;
    preenchimento: 0;
    estilo de lista: nenhum;
}
corpo{
    cor de fundo: # ADA7C9;
    largura: 100%;
    altura: 100%;
}
/ * cabecalho + cont principal --------- * /
#scorpions {
    display: bloco;
    posição: relativa;
    largura: 90%;
    margem: 0 automático;
    cor de fundo: transparente;
}
#cabecalho {
    display: bloco;
    posição: fixa;
    índice z: 1;
    largura: 100%;
    cor de fundo: # 41337A;
    topo: 0;
    tamanho da fonte: 100%;
}
#cabecalho h1 {
    cor: # 02FAFD;
    família da fonte: sans-serif;
    peso da fonte: mais negrito;
    alinhamento de texto: centro;
    largura: 100%;
    altura: 100%;
    cursor: menu de contexto;
}
#contra{
    display: bloco;
    posição: relativa;
    largura: 100%;
    topo: 0;
    visibilidade: oculto;
    tamanho da fonte: 100%;
}
#contra h1 {
    família da fonte: sans-serif;
    peso da fonte: mais negrito;
    alinhamento de texto: centro;
    largura: 100%;
    altura: 100%;
}
#whats: hover {
    cor de fundo: # 02f9fdb8;
}
#subMenu {
    display: bloco;
    posição: relativa;
    cor de fundo: # 41337A;
    topo: 10px;
    preenchimento: 10px;
    alinhamento de texto: centro;
    margem inferior: 16px;
    raio da borda: 8px;
}
#subMenu h2 {
    família da fonte: sans-serif;
    tamanho da fonte: 110%;
    largura: 100%;
    alinhamento de texto: centro;
    cor branca;
    margin-bottom: 5px;
    cursor: menu de contexto;
}
#caixaSub {
    posição: relativa;
    display: flex;
    flex-wrap: wrap;
    fronteira: nenhum;
}
.tr1 {
    display: bloco;
    posição: relativa;
    flex: 1 1 60px;
    fronteira: nenhum;
    preenchimento: 2px;
    alinhamento de texto: centro;
    margem: 5px;
    cor de fundo: branco;
    peso da fonte: mais negrito;
    enchimento: 1%;
    raio da borda: 5px;
}

#entraNum {
    largura máxima: 30%;
}
#msgOpc {
    posição: relativa;
    largura mínima: 50%;
}
#o que é{
    largura mínima: 137px;
    cor de fundo: # 02FAFD;
}
/ * # caixaSub {
    fronteira: nenhum;
} * /
#contPrinc {
    display: bloco;
    largura: 100%;
    posição: relativa;
    raio da borda: 8px;
}
#listPgms {
    display: bloco;
    posição: relativa;
    largura: 100%;
    margem: 0 auto 10px auto;
    topo: 5px;
    cor de fundo: branco;
    raio da borda: 8px;
    sombra da caixa: 1px 1px 5px rgba (0, 0, 0, .5);
}
#ulistPgms {
    display: flex;
    flex-wrap: wrap;
}
#ulistPgms li {
    flex: 1 1 230px;
    borda: 2px sólido # 41337A;
    alinhamento de texto: centro;
    margem: 5px;
    raio da borda: 5px;
    família da fonte: sans-serif;
    peso da fonte: mais negrito;
    padding-top: 5px;
    cor: # 33278D;
    cor de fundo: # 02FAFD;
}
#ulistPgms li span {
    posição: relativa;
    display: bloco;
    largura: 100%;
    cor de fundo: # 41337A;
    cor branca;
    família da fonte: sans-serif;
    peso da fonte: mais negrito;
    tamanho da fonte: 100%;
}
#ulistPgms li span: hover {
    cor de fundo: # 33278dc2;
    tamanho da fonte: 102%;
}
uma{
    decoração de texto: nenhum;
}
.cods {
    cor: # E03616;
}
#pgmsfree {
    display: bloco;
    posição: relativa;
    largura: 100%;
    alinhamento de texto: centro;
    margem esquerda: 5px;
    tamanho da fonte: 80%;
    família da fonte: sans-serif;
    cor: # E03616;
}
#ulistPgms h2 {
    display: bloco;
    posição: relativa;
    largura: 100%;
    família da fonte: sans-serif;
    peso da fonte: mais negrito;
    tamanho da fonte: 120%;
    alinhamento de texto: centro;
    margem superior: 8px;
    cor: # 33278D;
}
/ * dicassssssssssssssssssssssssssssssss * /
#dicasInfo {
    largura: 100%;
    display: bloco;
    posição: relativa;
}
#caixaDicas {
    fronteira: nenhum;
    display: bloco;
    posição: relativa;
    largura: 100%;
    margem: 0 automático;
    topo: 5px;
    cor de fundo: # 33278D;
    raio da borda: 8px;
    topo: 16px;
}
#titleDicas {
    alinhamento de texto: centro;
    tamanho da fonte: 150%;
}
#rodape {
    cor de fundo: # 41337A;
    display: bloco;
    posição: relativa;
    inferior: 0px;
    topo: 6px;
}
#rodape h3 {
    alinhamento de texto: centro;
    cor branca;
    família da fonte: sans-serif;
    tamanho da fonte: 110%;
    preenchimento: 5px;
}
