@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
#hellowf{
    display: block;
    position: fixed;
    z-index: 20;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.514);
    visibility: hidden;
}
#hellowf h1{
    background-color: rgba(255, 255, 255, 0.89);
    color: #8c3596;
    width: 70%;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 18pt;
    border-radius: 8px;
    padding: 40px 20px;
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 9px #8c3596;
    border: 2px solid #8c3596;
}
#hellowf h1 span{
    font-size: 12pt;
}

#fecharf{
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    right: 2px;
    top: 2px;
    cursor: pointer;
    padding: 10px 5px;
}
#fecharf::after{
    content: '';
    display: block;
    position: absolute;
    background-color: #353535ec;
    width:23px;
    height:2.5px;
    transform: rotate(45deg);
}
#fecharf::before{
    content:'';
    display: block;
    position: absolute;
    background-color: #353535ec;
    width:23px;
    height:2.5px;
    transform: rotate(-45deg);
}

body{
    background-color:rgb(24, 10, 41);
    width: 100%;
    height: 100%;
}
/*cabecalho + cont principal ---------*/
#scorpions{
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
    background-color: transparent;
}
#cabecalho{
    display:block;
    position: fixed;
    z-index: 8;
    width: 100%;
    background-color:white;
    top: 0;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.371);
    border-bottom: 3px solid #00eb84b0;
}
#cabecalho img{
    position: relative;
    display: block;
    width: 200px;
    margin: 10px auto 10px auto;
}
#contra{
    display: block;
    position: relative;
    width: 100%;
    top: 0;
    visibility: hidden;
}
#contra img{
    position: relative;
    display: block;
    width: 200px;
    margin: 10px auto 10px auto;
}
/* whatsCb ----------------------- */

#whatsCb{
    position: fixed;
    top: 0;
    left: 5%;
    z-index: 10;
    width: 40px;
}
#whatsCb img{
    display: block;
    position: relative;
    width: 100%;
    border-radius: 0px 8px 8px 8px;
    top: 7px;
}

/*capa  ------------------------------------------*/

#slideCp{
    width: 90%;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 22px; /*10px padrão, 22-10-2px*/
}
#slideCp #locaImg{
    position: relative;
    display: block;
    width: 100%;
    border-radius: 8px;
    transition: linear 5s;
}
#slideCp::after{
    content:'';
    width: 100%;
    height: 100%;
    background-color: rgba(100, 0, 201, 0.171);
    position: absolute;
    display: block;
    top: 0;
    border-radius: 8px;
}
#slideCp h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    color: white ;
    font-size: 250%;
    background-color:#8c3596c2 ;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 100%;
    box-shadow: #00eb85c9 7px 7px 0px;
    padding: 5px;
}
#imgengp{
    position: relative;
    display: block;
    width: 5%;
    margin: 0 auto;

}
#subMenu{
    display: block;
    position: relative;
    background-color:#33278D;
    top: 10px;
    padding:10px;
    text-align: center;
    margin-bottom: 16px;
    border-radius: 8px;
}
#subMenu h2{
    font-family: sans-serif;
    font-size: 110%;
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: 5px;
    cursor: context-menu;
}
#caixaSub{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: none;
}
.tr1{
    display: block;
    position: relative;
    flex: 1 1 60px;
    border: none;
    padding: 2px;
    text-align: center;
    margin: 5px;
    background-color: white;
    font-weight: bolder;
    padding: 1%;
    border-radius: 5px;
}

#entraNum{
    max-width: 30%;
}
#msgOpc{
    position: relative;
    min-width: 50%;
}
#whats{
    min-width: 137px;
    background-color: #00eb84;
    color: #33278D;
    font-weight: bolder;
    font-size: 11pt;
    border: 2px solid #00c972;
    cursor: pointer;
}
#whatsCp{
    min-width: 137px;
    background-color: #00eb84;
    color: #33278D;
    font-weight: bolder;
    font-size: 11pt;
    border: 2px solid #00c972;
    cursor: pointer;
}
#whats:hover{
    background-color: #35ffa8f3;
    border: 2px solid #00c972;
    box-shadow: #00ff91b0 0px 0px 6px , #47ffafbd 0px 0px 3px;
}
#whatsCp:hover{
    background-color: #35ffa8f3;
    border: 2px solid #00c972;
    box-shadow: #00ff91b0 0px 0px 6px , #47ffafbd 0px 0px 3px;
}
#tutoWh{
    flex: 1 1 100%;
}
#urlPtaCp{
    flex: 1 1 100%;
    display: none;
}
#tutoWh{
    padding-bottom: 20px;
    background-color: #ffffffb4;
    display: none;
}
#tutoWh ol {
    display: flex;
    display: block;
    position: relative;
    flex: 1 1 100%;
}
#tutoWh ol li{
    flex: 1 1;
    display: block;
    padding: .2%;
    font-family: sans-serif;
    color: #353535ec;
    cursor :default;
    font-size: 10pt;
}
#tutoWh ol li h1{
    font-weight: bolder;
}

#fexTutoW{
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    right: 2px;
    top: 2px;
    cursor: pointer;
}
#fexTutoW::after{
    content: '';
    display: block;
    position: absolute;
    background-color: #353535ec;
    width:23px;
    height:2.5px;
    transform: rotate(45deg);
    margin-top: 5px;
}
#fexTutoW::before{
    content:'';
    display: block;
    position: absolute;
    background-color: #353535ec;
    width:23px;
    height:2.5px;
    transform: rotate(-45deg);
    margin-top: 5px;
}
/*#ca1ixaSub{
    border: none;
}*/
#contPrinc{
    display: block;
    width: 100%;
    position: relative;
    border-radius: 8px;
}
#listPgms{
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 10px auto;
    top: 5px;
    background-color:white;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
#listPgms2{
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 10px auto;
    top: 5px;
    background-color:white;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
#ulistPgms{
    display: flex;
    flex-wrap: wrap;
    color:white;
}
#ulistPgms2{
    display: flex;
    flex-wrap: wrap;
    color:white;
}
#ulistPgms li {
    flex: 1 1 230px;
    border: 3px solid #33278D;
    text-align: center;
    margin: 10px 20px;
    border-radius: 8px;
    font-family: sans-serif;
    font-weight: bolder;
    padding-top: 5px;
    color: white;
    background-color: #33278D;
}
#ulistPgms2 li{
    flex: 1 1 230px;
    border: 3px solid #33278D;
    text-align: center;
    margin: 10px 20px;
    border-radius: 8px;
    font-family: sans-serif;
    font-weight: bolder;
    padding-top: 5px;
    color: white;
    background-color: #33278D;
}
#ulistPgms li span {
    position: relative;
    display: block;
    width: 80%;
    margin: 5px auto;
    border-radius: 6px;
    background-color: #00eb84;
    color: #41337A;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 100%;
    box-shadow: 1px 1px 3px #41337A;
    border: 2px solid #00c972;
}
#ulistPgms2 li span{
    position: relative;
    display: block;
    width: 80%;
    margin: 5px auto;
    border-radius: 6px;
    background-color: #00eb84;
    color: #41337A;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 100%;
    box-shadow: 1px 1px 3px #41337A;
    border: 2px solid #00c972;
}
#ulistPgms li span:hover {
    background-color: #35ffa8f3;
    border: 2px solid #35ffa8f3;
    box-shadow: #00ff91b0 0px 0px 7px , #47ffafbd 0px 0px 3px;
}
#ulistPgms2 li span:hover {
    background-color: #35ffa8f3;
    border: 2px solid #35ffa8f3;
    box-shadow: #00ff91b0 0px 0px 7px , #47ffafbd 0px 0px 3px;
}
a{
    text-decoration: none;
}
.cods{
    color: #E03616;
}
#pgmsfree{
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    margin-left: 5px;
    font-size: 80%;
    font-family: sans-serif;
    color: #E03616;
}
#ulistPgms .titPgms {
    flex: 1 1 100%;
    border: 3px solid #33278D;
    text-align: center;
    margin: 15px 20px;
    border-radius: 8px;
    font-family: Arial Black, sans-serif;
    font-weight: bolder;
    padding: 6px;
    color: #33278D;
    background-color: white;
}
#ulistPgms2 .titPgms {
    flex: 1 1 100%;
    border: 3px solid #33278D;
    text-align: center;
    margin: 15px 20px;
    border-radius: 8px;
    font-family: Arial Black, sans-serif;
    font-weight: bolder;
    padding: 6px;
    color: #33278D;
    background-color: white;
}
/*Serviços--------------------------------------------*/
#cxCata{
    display: block;
    background-color: white;
    border-radius: 8px;
    margin-top:16px;
    padding-top: 5px;
}
#cxCata h1{
    display: block;
    border: 3px solid #33278D;
    text-align: center;
    margin: 15px 20px;
    border-radius: 8px;
    font-family: Arial Black, sans-serif;
    font-weight: bolder;
    padding: 6px;
    color: #33278D;
    background-color: white;
}
#cxServ{
    display: flex;
    flex-wrap:nowrap;
    background-color: white;
    width: 100%;
    padding: 0 20px;
}
.serv{
    background-color: #33278D;
    color:white;
    font-family: sans-serif, arial;
    flex: 1 1 auto;
    padding: 5px;
    margin: 5px;
}
.serv h2{
    text-align: center;
    width: 100%;
    position: relative;
}
.serv img{
    width: 80%;
}


/*dicassssssssssssssssssssssssssssssss*/

#dicasInfo{
    width: 100%;
    display: block;
    position: relative;
}
#caixaDicas{
    border: none;
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    top: 5px;
    background-color:#33278D;
    border-radius: 8px;
    top: 16px;
}
#titleDicas{
    text-align: center;
    font-size: 150%;
}
#rodape{
    background-color: #8c35968c;
    display: block;
    position: relative;
    bottom: 0px;
    top: 6px;
}
#rodape h3{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 110%;
    padding: 5px;
}
@media only screen and (min-width: 680px) {
    #ulistPgms .titPgms {
        font-size: 160%;
    }
    #cxCata h1{
        font-size: 160%;
    }
    #ulistPgms2 .titPgms {
        font-size: 160%;
    }
    #tutoWh ol li{
        font-size: 12pt;
    }
  }
@media only screen and (max-width:600px){
    #slideCp h1{
        font-size: 100%;
    }
}

/* Nav serviços -------------------------------------------------------------------------------------------------------- */

#supRemoto{
    background-color: transparent;
    position: relative;
    display: block;
    width: 100%;
    margin: 10px auto 0 auto;
    border-radius: 8px;
}
#supRemoto ul{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    background: rgb(131,58,180);
    background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 87%, rgba(252,176,69,1) 100%);
    border-radius: 8px;
    font-family: gadugi, sans-serif;
    font-weight:400;

}
#supRemoto ul li{
    display: block;
    position: relative;
    flex: 1 1 250px;
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 5px;
    margin: 10px;
    border-radius: 5px;
    color:#6e216d;
    border: 2px solid #6e216d;
}
#supRemoto ul li img{
    display: block;
    position: relative;
    width: 100%;
}
#supRemoto ul li h2{
    text-align: center;
}
#supRemoto ul li p{
    color: rgb(17, 17, 17);
}
#supRemoto button{
    background-color: #00d679;
    border: #00bb6a solid 2px;
    margin: 5px auto 0 auto;
    display: block;
    padding: 2.5px 10px;
    border-radius: 5px;
    font-family: arial,sans-serif;
    font-weight:bolder;
    font-size: large;
    color: white;
    width: 100%;
}
#supRemoto .trtx{
    width: 100%;
    text-align: center;
    color:rgb(26, 26, 26) ;
    font-family: arial black, sans-serif;
    font-size:20pt;
    color: white;
}
